@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap");



@font-face {
  font-family: 'Gill Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('/fonts/Gill.otf') format('otf')
};

@font-face {
  font-family: 'Sli';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('/fonts/Sli.woff') format('woff'),
    url('/fonts/Sli.woff2') format('woff2');
  };

  @font-face {
    font-family: 'Sligoil-Micro', 'mono';
    font-style: normal;
    font-weight: 400;
    src: local(''),
      url('/fonts/Sligoil-Micro.otf') format('otf')
  }