---
import Navbar from '../components/Navbar.astro';
import Feature from '../components/Feature.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		
	</head>
	<body>
		<Navbar/>
		<Feature/>

	</body>
</html>
