---
import Navbar from '../components/Navbar.astro';
import Feature from '../components/Feature.astro';
import Historia from '../components/Historia.astro';
import Unioncomp from '../components/Unioncomp.astro';
---



<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../styles/global.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/kursor/dist/kursor.css">
	<title>Hule Distribuidora de libros</title>
</head>
<body>
	<Navbar/>
	<Feature/>
	<Historia id="historiaid"/>
	<Unioncomp/>







		<script src="https://unpkg.com/kursor"></script>
		<script>
			new kursor({
				type: 2,
				removeDefaultCursor: true,
				color: '#3eb489',
				hover: '#476582'
			})
		</script>
</body>
</html>
