<section class="flex items-center w-full bg-bermuda font-gillsans">
   
   
   
    <div class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-20 max-w-7xl">

        <div>
            <img src="https://res.cloudinary.com/tammymetzler/image/upload/c_scale,w_141/v1682287810/e-trans_wf5qbq.png">
            <p class="text-2xl font-medium tracking-tight text-black sm:text-4xl">
              Expansión
            </p>
            <p class="max-w-xl mt-4 text-base tracking-tight text-gray-700">
                En HULE Distribuidora conectamos con proyectos editoriales y con librerías de América,
buscando que puedan ser la puerta de entrada para nuestro catálogo en sus países.
Podemos hacer llegar nuestros libros a cualquier lugar del mundo, pero nuestro primer
interés es fortalecer las redes dentro del continente americano. Actualmente contamos
con oficina propia en Chile y tenemos la exclusividad de distribución en otros países a
través de los siguientes proyectos: <br>
Hule Oficina Distribuidora (Chile) <br>
La Audacia Libros (Bolivia) <br>
Colmena Editores (Perú)<br>
Palier Café Libro (Ecuador)<br>
Magma Libros (Colombia)<br>
Nulú Bonsai México (México)<br>
Librería Ponta de Lança (Brasil)<br><br>

Si te interesan nuestros libros, podés escribirnos para hacer un pedido a cualquier lugar
del mundo o pedirnos más información. Nos encanta llegar a más lectores, conocer
nuevos lugares y descubrir otros proyectos que amen tanto los libros como nosotros.
            </p>
          </div>

    </div>
</section>