<section class="flex items-center w-full bg-bermuda font-gillsans">
   
   
   
    <div class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-20 max-w-7xl">

        <div>
            <img src="https://res.cloudinary.com/tammymetzler/image/upload/c_scale,w_141/v1682287810/e-trans_wf5qbq.png">
            <p class="text-2xl font-medium mt-8 text-black sm:text-4xl">
              Expansión
            </p>
            <p class=" text-base mt-4 text-gray-700">
                En HULE Distribuidora conectamos con proyectos editoriales y con librerías de América,
buscando que puedan ser la puerta de entrada para nuestro catálogo en sus países.
Podemos hacer llegar nuestros libros a cualquier lugar del mundo, pero nuestro primer
interés es fortalecer las redes dentro del continente americano. Actualmente contamos
con oficina propia en Chile y tenemos la exclusividad de distribución en otros países a
través de los siguientes proyectos: <br><br>
<span class="text-bold text-black">Hule Oficina Distribuidora (Chile) <br></span>
<span class="text-bold text-black">Nulú Bonsai México (México)<br></span>
<span class="text-bold text-black">La Audacia Libros (Bolivia) <br></span>
<span class="text-bold text-black">Colmena Editores (Perú)<br></span>
<span class="text-bold text-black">Palier Café Libro (Ecuador)<br></span>
<span class="text-bold text-black">Magma Libros (Colombia)<br></span>
<span class="text-bold text-black">Librería Ponta de Lança (Brasil)<br><br></span>

Si te interesan nuestros libros, podés <a href="mailto:hule.distribuidora@gmail.com"><span class="underline underline-offset-4 text-gray-700 hover:bg-black hover:text-white" >escribirnos</span></a>  para hacer un envío a cualquier lugar
del mundo o pedirnos más información. Nos encanta llegar a más lectores, conocer
nuevos lugares y descubrir otros proyectos que amen tanto los libros como nosotros. 
            </p>
          </div>

    </div>
</section>