
<section class="relative flex items-center w-full bg-bermuda">
    <div class="relative items-center w-full px-5 py-16 mx-auto md:px-12 lg:px-16 max-w-7xl">
      <div class="relative flex-col items-start m-auto align-middle">
        <div class="grid grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-24">
          <div class="relative items-center gap-12 m-auto lg:inline-flex md:order-first">
            <div class="max-w-xl text-center lg:text-left">
              <div>
                <p class="text-4xl font-gillsans font-bold text-black lg:text-4xl sm:text-4xl">
                  Somos Hule 
                </p>
                <!-- <p class="text-2xl font-gillsans  text-black sm:text-4xl">
                  Somos Hule Gg gillsans 500
                </p>
                <p class="text-2xl font-worksans tracking-tight text-black sm:text-4xl">
                  Somos Hule Gg worksans
                </p>
                <p class="text-2xl font-gillsans font-bold  text-black sm:text-4xl">
                  Somos Hule 
                </p> -->
                
           
          
                <p class="max-w-xl font-gillsans font-medium mt-4 text-xl tracking-tight text-yellow-950 sm:text-2xl">
                  Una distribuidora de libros 
que nació en 2020
                </p>
                
              </div>
              <div class="flex justify-center gap-3 mt-10 lg:justify-start">
                <a href="https://www.instagram.com/hule.ar/" class="items-center justify-center w-full px-6 py-2.5 text-center text-white duration-200 bg-black border-2 border-black rounded-full nline-flex hover:bg-transparent hover:border-black hover:text-black focus:outline-none lg:w-auto focus-visible:outline-black text-sm focus-visible:ring-black">
                  Seguinos →
                </a>                   </div>
            </div>
          </div>
          <div class="order-first block w-full mt-12 aspect-square lg:mt-0">
            <img class="object-cover object-center w-full mx-auto bg-amber-300 lg:ml-auto " alt="hero" src="https://res.cloudinary.com/tammymetzler/image/upload/v1682030356/HULE_TRANS_mahjta.png">
          </div>
        </div>
      </div>
    </div>
  </section>
