
<section class="relative flex items-center w-full bg-amber-300">
    <div class="relative items-center w-full px-5 py-16 mx-auto md:px-12 lg:px-16 max-w-7xl">
      <div class="relative flex-col items-start m-auto align-middle">
        <div class="grid grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-24">
          <div class="relative items-center gap-12 m-auto lg:inline-flex md:order-first">
            <div class="max-w-xl text-center lg:text-left">
              <div>
               
                <p class="text-2xl font-worksans tracking-tight text-black sm:text-4xl">
                  Somos Hule 
                </p>
                <p class="max-w-xl font-worksans font-medium mt-4 text-base tracking-tight text-yellow-950 sm:text-2xl">
                  Una distribuidora que hace cosas nuevas
                </p>
                <p class="max-w-xl font-worksans mt-4 text-base tracking-tight text-yellow-950 sm:text-2xl">
                  increibles
                </p>
              </div>
              <div class="flex justify-center gap-3 mt-10 lg:justify-start">
                <a class="text-black items-center shadow-[5px_5px_black] inline-flex px-6 focus:outline-none justify-center text-center bg-teal-500 border-black ease-in-out hover:text-white transform transition hover:shadow-none border-2 duration-200 hover:bg-black lg:w-auto py-3 rounded-xl w-full cursor-pointer" href="google.com">holaa </a>                     </div>
            </div>
          </div>
          <div class="order-first block w-full mt-12 aspect-square lg:mt-0">
            <img class="object-cover object-center w-full mx-auto bg-amber-300 lg:ml-auto " alt="hero" src="https://res.cloudinary.com/tammymetzler/image/upload/v1681027603/HULE-FINAL-amarillopng_ibf4v3.png">
          </div>
        </div>
      </div>
    </div>
  </section>
