
<section aria-labelledby="feature-five" id="feature-five" class="overflow-y-auto bg-green-800 lg:h-screen">
    <div id="historiaid" class="px-8 py-24 mx-auto lg:px-16 max-w-7xl md:px-12 xl:px-36 lg:flex">
      <div class="lg:w-1/2">
        <div class="top-0 pt-8 pb-16 lg:sticky">
          <div>
            <div class="lg:pr-24 md:pr-12">
              <div>
                <p class="text-2xl font-medium tracking-tight text-black sm:text-4xl">
                  Historia
                </p>
                <p class="max-w-xl mt-4 text-lg tracking-tight text-gray-200">
                  Breve descripción de la historia de Hule 
                </p>
              </div>
              <div class="flex flex-col items-center justify-center gap-3 mt-10 lg:flex-row lg:justify-start">
                <a href="#" class="items-center justify-center w-full px-6 py-2.5 text-center text-white duration-200 bg-black border-2 border-black rounded-full nline-flex hover:bg-transparent hover:border-black hover:text-black focus:outline-none lg:w-auto focus-visible:outline-black text-sm focus-visible:ring-black">
                  Get started
                </a>
                <a href="#" class="inline-flex items-center justify-center text-sm font-semibold text-black duration-200 hover:text-blue-500 focus:outline-none focus-visible:outline-gray-600">
                  Learn more
                  <span aria-hidden="true"> → </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:w-1/2">
        <div class="flex-shrink-0">
          <div>
            <ul class="grid grid-cols-1 gap-12 mt-6 list-none lg:mt-0 lg:gap-24" role="list">
              <li>
                <div>
                  <div class="flex items-center justify-center w-12 h-12 text-black bg-amber-300 rounded-xl">
                    <img src="https://www.svgrepo.com/show/489534/number-1.svg">
                    
                  </div>
                  <p class="mt-5 text-lg font-medium leading-6 text-gray-300">
                    Primeros pasos
                  </p>
                </div>
                <div class="mt-2 text-base text-gray-100">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, fugit. Maxime iste eum omnis consequuntur totam quo culpa nesciunt inventore, fugiat quisquam similique, soluta nihil numquam ratione reprehenderit fugit quasi!
                </div>
              </li>
              <li>
                <div>
                  <div class="flex items-center justify-center w-12 h-12 text-black bg-amber-300 rounded-xl">
                    <img src="https://www.svgrepo.com/show/489537/number-2.svg">
                    
                  </div>
                  <p class="mt-5 text-lg font-medium leading-6 text-gray-300">
                    Comienzos
                  </p>
                </div>
                <div class="mt-2 text-base text-gray-100">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quas, placeat ad a eveniet tenetur facere animi? Blanditiis minima quod impedit obcaecati ipsum! Recusandae alias ipsam asperiores consectetur ratione odit!
                </div>
              </li>
              <li>
                <div>
                  <div class="flex items-center justify-center w-12 h-12 text-black bg-amber-300 rounded-xl">
                    <img src="https://www.svgrepo.com/show/489540/number-3.svg">
                    
                  </div>
                  <p class="mt-5 text-lg font-medium leading-6 text-gray-300">
                    Desarrollo
                  </p>
                </div>
                <div class="mt-2 text-base text-gray-100">
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem laudantium consequatur quasi blanditiis et ut deleniti assumenda, excepturi sequi, nulla ab temporibus accusamus! Minima non, voluptatibus numquam nobis minus quia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, atque nam hic totam placeat rem veritatis ratione eius inventore debitis aperiam quidem odio illum nobis ex quod soluta dicta iusto?
                </div>
              </li>
              <li>
                <div>
                  <div class="flex items-center justify-center w-12 h-12 text-black bg-amber-300 rounded-xl">
                    <img src="https://www.svgrepo.com/show/489541/number-4.svg">
                  </div>
                  <p class="mt-5 text-lg font-medium leading-6 text-gray-300">
                    Futuro
                  </p>
                </div>
                <div class="mt-2 text-base text-gray-100">
                 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum debitis omnis eius, id rem natus quas amet eos, cumque explicabo consequuntur accusamus possimus corporis, molestiae doloremque dolore ratione ipsum et?
                </div>
              </li>
              <li>
                <div>
                  <div class="flex items-center justify-center w-12 h-12 text-black bg-amber-300 rounded-xl">
                    
                    <img src="https://www.svgrepo.com/show/489546/number-5.svg">
                  </div>
                  <p class="mt-5 text-lg font-medium leading-6 text-gray-300">
Actualidad                  </p>
                </div>
                <div class="mt-2 text-base text-gray-100">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, consectetur delectus impedit earum sint laborum beatae laudantium ex dolores commodi at dicta ducimus est cum sunt veniam maiores cupiditate esse.
                </div>
              </li>
           
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
