
<section aria-labelledby="feature-five" id="feature-five" class="overflow-y-auto bg-green-800 lg:h-screen">
    <div id="historiaid" class="px-8 py-24 mx-auto lg:px-16 max-w-7xl md:px-12 xl:px-36 lg:flex">
      <div class="lg:w-1/2">
        <div class="top-0 pt-8 pb-16 lg:sticky">
          <div>
            <div class="lg:pr-24 md:pr-12">
              <div>
                <p class="text-2xl font-medium tracking-tight text-black sm:text-4xl">
                  Historia
                </p>
                <p class="max-w-xl mt-4 text-lg tracking-tight text-gray-600">
                  breve descripci[on de la historia de hule 
                </p>
              </div>
              <div class="flex flex-col items-center justify-center gap-3 mt-10 lg:flex-row lg:justify-start">
                <a href="#" class="items-center justify-center w-full px-6 py-2.5 text-center text-white duration-200 bg-black border-2 border-black rounded-full nline-flex hover:bg-transparent hover:border-black hover:text-black focus:outline-none lg:w-auto focus-visible:outline-black text-sm focus-visible:ring-black">
                  Get started
                </a>
                <a href="#" class="inline-flex items-center justify-center text-sm font-semibold text-black duration-200 hover:text-blue-500 focus:outline-none focus-visible:outline-gray-600">
                  Learn more
                  <span aria-hidden="true"> → </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:w-1/2">
        <div class="flex-shrink-0">
          <div>
            <ul class="grid grid-cols-1 gap-12 mt-6 list-none lg:mt-0 lg:gap-24" role="list">
              <li>
                <div>
                  <div class="flex items-center justify-center w-12 h-12 text-black bg-amber-400 rounded-xl">
                    <img src="https://www.svgrepo.com/show/363805/number-square-one-duotone.svg">
                    
                  </div>
                  <p class="mt-5 text-lg font-medium leading-6 text-black">
                    Primeros pasos
                  </p>
                </div>
                <div class="mt-2 text-base text-gray-500">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, fugit. Maxime iste eum omnis consequuntur totam quo culpa nesciunt inventore, fugiat quisquam similique, soluta nihil numquam ratione reprehenderit fugit quasi!
                </div>
              </li>
              <li>
                <div>
                  <div class="flex items-center justify-center w-12 h-12 text-black bg-amber-400 rounded-xl">
                    <img src="https://www.svgrepo.com/show/363808/number-square-two-duotone.svg">
                    
                  </div>
                  <p class="mt-5 text-lg font-medium leading-6 text-black">
                    Comienzos
                  </p>
                </div>
                <div class="mt-2 text-base text-gray-500">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quas, placeat ad a eveniet tenetur facere animi? Blanditiis minima quod impedit obcaecati ipsum! Recusandae alias ipsam asperiores consectetur ratione odit!
                </div>
              </li>
              <li>
                <div>
                  <div class="flex items-center justify-center w-12 h-12 text-black bg-gray-100 rounded-xl">
                    ❖
                  </div>
                  <p class="mt-5 text-lg font-medium leading-6 text-black">
                    Desarrollo
                  </p>
                </div>
                <div class="mt-2 text-base text-gray-500">
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem laudantium consequatur quasi blanditiis et ut deleniti assumenda, excepturi sequi, nulla ab temporibus accusamus! Minima non, voluptatibus numquam nobis minus quia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, atque nam hic totam placeat rem veritatis ratione eius inventore debitis aperiam quidem odio illum nobis ex quod soluta dicta iusto?
                </div>
              </li>
              <li>
                <div>
                  <div class="flex items-center justify-center w-12 h-12 text-black bg-gray-100 rounded-xl">
                    ❖
                  </div>
                  <p class="mt-5 text-lg font-medium leading-6 text-black">
                    Tools for every stack
                  </p>
                </div>
                <div class="mt-2 text-base text-gray-500">
                  Banking-as-a-service (BaaS) has made it possible for any company
                  to easily offer financial services tailored to customers’
                  specific needs. Hear from a range of businesses on how they're
                  using BaaS in radically different ways.
                </div>
              </li>
              <li>
                <div>
                  <div class="flex items-center justify-center w-12 h-12 text-black bg-gray-100 rounded-xl">
                    ❖
                  </div>
                  <p class="mt-5 text-lg font-medium leading-6 text-black">
                    Tools for every stack
                  </p>
                </div>
                <div class="mt-2 text-base text-gray-500">
                  Competing in the $5 trillion global ecommerce market requires an
                  international presence that doesn’t get lost in translation.
                  Join us as we traverse the globe to explore the many benefits of
                  offering localized, optimized payment experiences that are
                  achievable in minutes, not months.
                </div>
              </li>
           
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
