
<section aria-labelledby="feature-five" id="feature-five" class="font-gillsans overflow-y-auto bg-bermuda lg:h-screen">
    <div id="historiaid" class="px-8 py-24 mx-auto lg:px-16 max-w-7xl md:px-12 xl:px-36 lg:flex">
      <div class="lg:w-1/2">
        <div class="top-0 pt-8 pb-16 lg:sticky">
          <div>
            <div class="lg:pr-24 md:pr-12">
              <div>
                <img src="https://res.cloudinary.com/tammymetzler/image/upload/c_scale,w_104/v1682284044/htrans_x9ens6.png">
                <p class="text-2xl font-medium  text-black sm:text-4xl">
                  Historia
                </p>
                <p class="max-w-xl mt-4 text-base  text-gray-700">
                  Somos una distribuidora de libros que nace como idea en 2018 y se consolida como
empresa desde 2020. A partir de nuestra experiencia como editores y de un trabajo
conjunto en la administración, logística y distribución, sumado al vínculo que mantenemos
con actores de toda la cadena del libro, decidimos expandir la red de distribución y
nuclearnos con más editoriales. Nuestra tarea es cubrir las necesidades de distribución y
comercialización específicas de cada proyecto editorial, haciéndolo sostenible y
potenciando sus búsquedas en espacios afines a la identidad de cada uno. Llevamos
conectados más de 150 puntos de venta en Argentina y alrededor de 20 fuera del país.
Trabajamos con los libros y los catálogos de siete editoriales:
                </p>
              </div>
              <!-- <div class="flex flex-col items-center justify-center gap-3 mt-10 lg:flex-row lg:justify-start">
                <a href="#" class="items-center justify-center w-full px-6 py-2.5 text-center text-white duration-200 bg-black border-2 border-black rounded-full nline-flex hover:bg-transparent hover:border-black hover:text-black focus:outline-none lg:w-auto focus-visible:outline-black text-sm focus-visible:ring-black">
                  Get started
                </a>
                <a href="#" class="inline-flex items-center justify-center text-sm font-semibold text-black duration-200 hover:text-blue-500 focus:outline-none focus-visible:outline-gray-600">
                  Learn more
                  <span aria-hidden="true"> → </span>
                </a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="lg:w-1/2">
        <div class="flex-shrink-0">
          <div>
            <ul class="grid grid-cols-1 gap-12 mt-6 list-none lg:mt-0 lg:gap-24" role="list">
              <li>
                <div>
                  <div class="flex items-center justify-center w-12 h-12 text-black bg-green-900 rounded-xl">
                    <img src="https://www.svgrepo.com/show/489534/number-1.svg">
                    
                  </div>
                  <p class="mt-5 text-lg font-medium leading-6 text-black">
                    Argentina
                  </p>
                </div>
                <div class="mt-2 text-base text-gray-900">
                  Nulú Bonsai Editora <br>
                  Dagas del Sur Ediciones<br>
                  THC (Cannabis y Salud)<br>
                  Triana Editorial<br>
                </div>
              </li>
              <li>
                <div>
                  <div class="flex items-center justify-center w-12 h-12 text-black bg-green-900 rounded-xl">
                    <img src="https://www.svgrepo.com/show/489537/number-2.svg">
                    
                  </div>
                  <p class="mt-5 text-lg font-medium leading-6 text-black">
                    Perú
                  </p>
                </div>
                <div class="mt-2 text-base text-gray-700">
                  Colmena Editores
                </div>
              </li>
              <li>
                <div>
                  <div class="flex items-center justify-center w-12 h-12 text-black bg-green-900 rounded-xl">
                    <img src="https://www.svgrepo.com/show/489540/number-3.svg">
                    
                  </div>
                  <p class="mt-5 text-lg font-medium leading-6 text-black">
                    Ecuador
                  </p>
                </div>
                <div class="mt-2 text-base text-gray-700">
                  La Caída Editorial<br>
                  Recodo Press
                </div>
              </li>
              <li>
                <div>
                  <div class="flex items-center justify-center w-12 h-12 text-black bg-green-900 rounded-xl">
                    <img src="https://www.svgrepo.com/show/489541/number-4.svg">
                  </div>
                  <p class="mt-5 text-lg font-medium leading-6 text-black">
                    Trabajo
                  </p>
                </div>
                <div class="mt-2 text-base text-gray-700">
                  Creemos en el trabajo conjunto de todas las partes de la cadena del libro. Defendemos el
                  trabajo de las librerías y de la industria gráfica, de punta a punta, desde que se baja el
                  papel al piso de una imprenta hasta que se desenvuelve el paquete de un regalo
                  comprado en una librería. Pensamos que el espacio de los intermediarios tiene que
                  reducirse y volverse más eficiente, menos costoso, menos dañino y más directo. Nuestro
                  amor son los libros y lo que los libros generan.
                </div>
              </li>
              <!-- <li>
                <div>
                  <div class="flex items-center justify-center w-12 h-12 text-black bg-amber-300 rounded-xl">
                    
                    <img src="https://www.svgrepo.com/show/489546/number-5.svg">
                  </div>
                  <p class="mt-5 text-lg font-medium leading-6 text-gray-300">
Actualidad                  </p>
                </div>
                <div class="mt-2 text-base text-gray-100">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, consectetur delectus impedit earum sint laborum beatae laudantium ex dolores commodi at dicta ducimus est cum sunt veniam maiores cupiditate esse.
                </div>
              </li> -->
           
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
