
<section class="flex items-center w-full bg-bermuda">
   
   
   
    <div class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-20 max-w-7xl">

        <div>
            <img src="https://res.cloudinary.com/tammymetzler/image/upload/c_scale,w_141/v1682287600/L-trans_vznwcb.png">
            <p class="text-2xl font-medium tracking-tight text-black sm:text-4xl">
              Librerías
            </p>
            <p class="max-w-xl mt-4 text-base tracking-tight text-gray-700">
                Estas son nuestras librerías y puntos de venta en Argentina:
            </p>
          </div>

    </div>
</section>