<!-- lg:w-screen md:w-screen -->
<section class="flex items-center w-full bg-bermuda font-gillsans">
   
   
   
    <div class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-20 max-w-7xl">

        <div>
            <img class="mb-4" src="https://res.cloudinary.com/tammymetzler/image/upload/c_scale,w_141/v1682287600/L-trans_vznwcb.png">
            <p class="text-2xl font-medium mt-8 text-black sm:text-4xl">
              Lectura
            </p>
            <p class=" mt-4 text-base  text-gray-700 ">
                Estas son nuestras librerías y puntos de venta:<br><br><br>
              <span class="text-bold text-2xl text-black"> Argentina<br><br></span> 
<span class="text-black">Amiga Librería:</span> librería itinerante – Posadas, MISIONES @amigalibreria<br>
<span class="text-black">Arde Libros:</span> Constitución 1108 – Rosario, SANTA FE @ardelibros<br>
<span class="text-black">Bartolina Libros:</span> Yrigoyen 79 – Caleta Olivia, SANTA CRUZ @bartolinalibros<br>
<span class="text-black">Chinita Casa de Libros:</span> Rivadavia y Buenos Aires – Cafayate, SALTA @chinita_libros<br>
<span class="text-black">Eiti-Leda Libros:</span> librería virtual – SALTA @eitileda.libros<br>
<span class="text-black">El Espejo Libros:</span> Deán Funes 163 (Paseo Sta. Catalina), Local n.º 4 – CORDOBA @elespejolibros<br>
<span class="text-black">El Mundo del Libro:</span> Obispo Trejo 4 – CORDOBA @mundodellibrocba<br>
<span class="text-black">Estado de Poesía:</span> librería virtual – Santa Rosa, LA PAMPA @estado.de.poesia.libreria<br>
<span class="text-black">La Última Inocencia:</span> Av. Italia 123, 1º piso – Bell Ville, CORDOBA @laultimainocencialibros<br>
<span class="text-black">Laguna Librería de Autorx:</span> librería virtual – Rosario, SANTA FE @lagunaok<br>
<span class="text-black">Malapalabra Casa Librera:</span> Ministro González 63 – NEUQUÉN @malapalabra.casalibrera<br>
<span class="text-black">Poesía Ambiente:</span> Av. Mitre 1204 – Mina Clavero, CORDOBA @poesia_ambiente<br>
<span class="text-black">Rizoma Librería:</span> librería virtual – LA RIOJA @rizoma_libreria<br>
<span class="text-black">Ronroneo Libros:</span> librería virtual – NEUQUÉN @ronroneolibros<br>
<span class="text-black">Tras Los Pasos:</span> La Rioja 1946 – Posadas, MISIONES @libreriatraslospasos<br><br><br>

<span class="text-bold text-black text-xl"> Provincia de Buenos Aires<br><br></span> 
<span class="text-black">Arenga Libros:</span> librería virtual – San Fernando, BA @arengalibros<br>
<span class="text-black">Big Sur Libros:</span> Calle 55 # 555 ½ – La Plata, BA @bigsurlibros<br>
<span class="text-black">Cariño Librería:</span> Calle 419 # 2216 – Villa Elisa, BA @cariniolibreria<br>
<span class="text-black">Correo Secreto Libros:</span> Calle 39 # 410 – La Plata, BA @correosecretolibros<br>
<span class="text-black">Cuarto Propio Libros:</span> Calle 42 # 692 ½ – La Plata, BA @cuartopropio.libros<br>
<span class="text-black">Don Quijote:</span> Fitz Roy 73, esq. Brown – Bahía Blanca, BA @libreriadonquijotebahiablanca<br>
<span class="text-black">El Cuartito Azul:</span> Zeballos 295 – Bahía Blanca, BA<br>
<span class="text-black">El Gran Pez:</span> San Luis 2130 – Mar del Plata, BA @elgranpezlibros<br>
<span class="text-black">Eros Libros:</span> Gervasio de Posadas 30 – Moreno, BA @eroslibroskruger<br>
<span class="text-black">Factotum Libros:</span> Av. Mitre 1054 – Berazategui, BA @libreriafactotum<br>
<span class="text-black">Jardín Oeste:</span> librería virtual – Morón, BA @jardinoeste.libros<br>
<span class="text-black">Kaurismaki Libros:</span> Calle 11 # 1362 – La Plata, BA @kaurismaki_libros<br>
<span class="text-black">La Cosa Librería:</span> librería virtual – Junín, BA @lacosalibreria<br>
<span class="text-black">La Última Hoja:</span> librería virtual – Olavarría, BA @laultimahojalibros<br>
<span class="text-black">Librería de la UNGS:</span> Juan María Gutiérrez 1150 (UNGS) – Los Polvorines, BA @libreriaungs<br>
<span class="text-black">Librería Zilio:</span> Calle 53 # 2704 – Guillermo Hudson, BA @libreria.zilio<br>
<span class="text-black">Los Confines:</span> Profesor Agüer 4757 – Villa Ballester, BA @losconfineslibros<br>
<span class="text-black">Musaraña Libros:</span> Gral. José María Paz 1530 – Florida, BA @musaranialibros<br>
<span class="text-black">Ramos Libros:</span> Av. Mitre 581 – Quilmes, BA @libreriamorelliana<br>
<span class="text-black">Vietnam Libros:</span> Agüero 219 – Marcos Paz, BA @vietnamlibros<br><br><br>

<span class="text-bold text-black text-xl">Ciudad de Buenos Aires<br><br></span> 
<span class="text-black">Atlántica Libros y Café:</span> Av. Directorio 115, CABA @atlantica.librosycafe<br>
<span class="text-black">Borges 1975:</span> Jorge Luis Borges 1975, CABA @borges1975.espacio.cultural<br>
<span class="text-black">Centro Rosa Luxemburgo:</span> Carlos Calvo 546, CABA @centro_rosa_luxemburgo<br>
<span class="text-black">Céspedes Libros:</span> Av. Álvarez Thomas 853, CABA @cespedeslibros<br>
<span class="text-black">Corneja Librería:</span> Av. Triunvirato 4333, CABA @libreriacorneja<br>
<span class="text-black">Cuarto Alto Libros:</span> Av. Niceto Vega 5962 (Exe Estudio), CABA @cuarto.alto.libros<br>
<span class="text-black">Daín Usina Cultural:</span> Nicaragua 4899, CABA @dainusinacultural<br>
<span class="text-black">Deser Libros:</span> Ávalos 2181, CABA @deserlibros<br>
<span class="text-black">Didon Libros:</span> Junín 84, CABA @didon_libros<br>
<span class="text-black">En El Viento:</span> Mendoza 2620, CABA @enelviento.libros<br>
<span class="text-black">Espacio Brezal:</span> Av. Santa Fe 2729 (Patio del Liceo), Locales n.º 4 y 16, CABA @espaciobrezal<br>
<span class="text-black">Eterna Cadencia:</span> Honduras 5574, CABA @eternacadencia<br>
<span class="text-black">Gambito de Alfil:</span> Puán 511, CABA @gambito.de.alfil<br>
<span class="text-black">Gauderio Libros:</span> Ayacucho 704, CABA @gauderiolibros<br>
<span class="text-black">Gould Libros:</span> Acevedo 388, CABA @gouldlibros<br>
<span class="text-black">Guadalquivir:</span> Av. Callao 1012, CABA @libreriaguadalquivir<br>
<span class="text-black">Kirker Libros:</span> Bartolomé Mitre 2102, CABA @kirkerlibros<br>
<span class="text-black">La Coop Librería:</span> Bulnes 640, CABA @lacooplibreria<br>
<span class="text-black">La Libre Arte y Libros:</span> Chacabuco 917, CABA @lalibrearteylibros<br>
<span class="text-black">La Miliciana Libros:</span> librería virtual, CABA @lamiliciana.libros<br>
<span class="text-black">Librería Astronauta:</span> Artigas 1850 (Café Artigas), CABA @libreria_austronauta<br>
<span class="text-black">Librería del Fondo de Cultura:</span> Costa Rica 4568, CABA @libreriadelfondoycc<br>
<span class="text-black">Librería Hernández:</span> Av. Corrientes 1436, CABA @hernandezlibre<br>
<span class="text-black">Librería Norte:</span> Av. Las Heras 2225, CABA @libreria.norte<br>
<span class="text-black">Libros del Pasaje:</span> Thames 1762, CABA @librosdelpasaje<br>
<span class="text-black">Lu Reads:</span> librería virtual, CABA @lu_reads_<br>
<span class="text-black">Magia Libros y Arcana:</span> Thames 1619, CABA @magialibros<br>
<span class="text-black">MalaTesta Tienda de Libros:</span> Gándara 2994, CABA @malatesta_libros<br>
<span class="text-black">Mandolina Libros:</span> Manuel Ugarte 2439, CABA @mandolinalibros<br>
<span class="text-black">Mandrágora Libros y Cultura:</span> Vera 1096, CABA @mandragora.librosycultura<br>
<span class="text-black">María Lenteja Libros:</span> librería virtual, CABA @marialentejalibros<br>
<span class="text-black">Medio Pan y Un Libro:</span> Virrey Avilés 3700, CABA @libreriamediopanyunlibro<br>
<span class="text-black">Oficina de Libros:</span> Av. de Mayo 1370 (Palacio Barolo), 5º piso of. 121, CABA @oficinadelibros<br>
<span class="text-black">Otras Orillas:</span> Mansilla 2974, CABA @otrasorillas<br>
<span class="text-black">Rama Dorada Libros:</span> Feria de Libros de Plaza Italia, Stand #28, CABA @ramadoradalibros<br>
<span class="text-black">Ritualitos Librería:</span> Pieres 103, esq. Ramón L. Falcón, CABA @ritualitos.libros<br>
<span class="text-black">Salvaje Federal:</span> librería virtual, CABA @salvajefederal<br>
<span class="text-black">Witolda Libros:</span> Venezuela 615 timbre 1, CABA @witoldalibros<br>
            </p>
          </div>

    </div>
</section>