
<section class="flex items-center w-full bg-bermuda font-gillsans">
   
   
   
    <div class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-20 max-w-7xl">

        <div>
            <img class="mb-4" src="https://res.cloudinary.com/tammymetzler/image/upload/c_scale,w_141/v1682287600/L-trans_vznwcb.png">
            <p class="text-2xl font-medium tracking-tight text-black sm:text-4xl">
              Librerías
            </p>
            <p class="max-w-xl mt-4 text-base tracking-tight text-gray-900">
                Estas son nuestras librerías y puntos de venta en Argentina:<br><br><br>
              <span class="text-bold text-2xl"> Argentina<br></span> 
Amiga Librería: librería itinerante – Posadas, MISIONES @amigalibreria<br>
Arde Libros: Constitución 1108 – Rosario, SANTA FE @ardelibros<br>
Bartolina Libros: Yrigoyen 79 – Caleta Olivia, SANTA CRUZ @bartolinalibros<br>
Chinita Casa de Libros: Rivadavia y Buenos Aires – Cafayate, SALTA @chinita_libros<br>
Eiti-Leda Libros: librería virtual – SALTA @eitileda.libros<br>
El Espejo Libros: Deán Funes 163 (Paseo Sta. Catalina), Local n.º 4 – CORDOBA @elespejolibros<br>
El Mundo del Libro: Obispo Trejo 4 – CORDOBA @mundodellibrocba<br>
Estado de Poesía: librería virtual – Santa Rosa, LA PAMPA @estado.de.poesia.libreria<br>
La Última Inocencia: Av. Italia 123, 1º piso – Bell Ville, CORDOBA @laultimainocencialibros<br>
Laguna Librería de Autorx: librería virtual – Rosario, SANTA FE @lagunaok<br>
Malapalabra Casa Librera: Ministro González 63 – NEUQUÉN @malapalabra.casalibrera<br>
Poesía Ambiente: Av. Mitre 1204 – Mina Clavero, CORDOBA @poesia_ambiente<br>
Rizoma Librería: librería virtual – LA RIOJA @rizoma_libreria<br>
Ronroneo Libros: librería virtual – NEUQUÉN @ronroneolibros<br>
Tras Los Pasos: La Rioja 1946 – Posadas, MISIONES @libreriatraslospasos<br><br><br>

  <span class="text-bold text-xl"> Provincia de Buenos Aires<br><br></span> 
Arenga Libros: librería virtual – San Fernando, BA @arengalibros<br>
Big Sur Libros: Calle 55 # 555 ½ – La Plata, BA @bigsurlibros<br>
Cariño Librería: Calle 419 # 2216 – Villa Elisa, BA @cariniolibreria<br>
Correo Secreto Libros: Calle 39 # 410 – La Plata, BA @correosecretolibros<br>
Cuarto Propio Libros: Calle 42 # 692 ½ – La Plata, BA @cuartopropio.libros<br>
Don Quijote: Fitz Roy 73, esq. Brown – Bahía Blanca, BA @libreriadonquijotebahiablanca<br>
El Cuartito Azul: Zeballos 295 – Bahía Blanca, BA<br>
El Gran Pez: San Luis 2130 – Mar del Plata, BA @elgranpezlibros<br>
Eros Libros: Gervasio de Posadas 30 – Moreno, BA @eroslibroskruger<br>
Factotum Libros: Av. Mitre 1054 – Berazategui, BA @libreriafactotum<br>
Jardín Oeste: librería virtual – Morón, BA @jardinoeste.libros<br>
Kaurismaki Libros: Calle 11 # 1362 – La Plata, BA @kaurismaki_libros<br>
La Cosa Librería: librería virtual – Junín, BA @lacosalibreria<br>
La Última Hoja: librería virtual – Olavarría, BA @laultimahojalibros<br>
Librería de la UNGS: Juan María Gutiérrez 1150 (UNGS) – Los Polvorines, BA @libreriaungs<br>
Librería Zilio: Calle 53 # 2704 – Guillermo Hudson, BA @libreria.zilio<br>
Los Confines: Profesor Agüer 4757 – Villa Ballester, BA @losconfineslibros<br>
Musaraña Libros: Gral. José María Paz 1530 – Florida, BA @musaranialibros<br>
Ramos Libros: Av. Mitre 581 – Quilmes, BA @libreriamorelliana<br>
Vietnam Libros: Agüero 219 – Marcos Paz, BA @vietnamlibros<br><br><br>

<span class="text-bold text-xl">Ciudad de Buenos Aires<br><br></span> 
Atlántica Libros y Café: Av. Directorio 115, CABA @atlantica.librosycafe<br>
Borges 1975: Jorge Luis Borges 1975, CABA @borges1975.espacio.cultural<br>
Centro Rosa Luxemburgo: Carlos Calvo 546, CABA @centro_rosa_luxemburgo<br>
Céspedes Libros: Av. Álvarez Thomas 853, CABA @cespedeslibros<br>
Corneja Librería: Av. Triunvirato 4333, CABA @libreriacorneja<br>
Cuarto Alto Libros: Av. Niceto Vega 5962 (Exe Estudio), CABA @cuarto.alto.libros<br>
Daín Usina Cultural: Nicaragua 4899, CABA @dainusinacultural<br>
Deser Libros: Ávalos 2181, CABA @deserlibros<br>
Didon Libros: Junín 84, CABA @didon_libros<br>
En El Viento: Mendoza 2620, CABA @enelviento.libros<br>
Espacio Brezal: Av. Santa Fe 2729 (Patio del Liceo), Locales n.º 4 y 16, CABA @espaciobrezal<br>
Eterna Cadencia: Honduras 5574, CABA @eternacadencia<br>
Gambito de Alfil: Puán 511, CABA @gambito.de.alfil<br>
Gauderio Libros: Ayacucho 704, CABA @gauderiolibros<br>
Gould Libros: Acevedo 388, CABA @gouldlibros<br>
Guadalquivir: Av. Callao 1012, CABA @libreriaguadalquivir<br>
Kirker Libros: Bartolomé Mitre 2102, CABA @kirkerlibros<br>
La Coop Librería: Bulnes 640, CABA @lacooplibreria<br>
La Libre Arte y Libros: Chacabuco 917, CABA @lalibrearteylibros<br>
La Miliciana Libros: librería virtual, CABA @lamiliciana.libros<br>
Librería Astronauta: Artigas 1850 (Café Artigas), CABA @libreria_austronauta<br>
Librería del Fondo de Cultura: Costa Rica 4568, CABA @libreriadelfondoycc<br>
Librería Hernández: Av. Corrientes 1436, CABA @hernandezlibre<br>
Librería Norte: Av. Las Heras 2225, CABA @libreria.norte<br>
Libros del Pasaje: Thames 1762, CABA @librosdelpasaje<br>
Lu Reads: librería virtual, CABA @lu_reads_<br>
Magia Libros y Arcana: Thames 1619, CABA @magialibros<br>
MalaTesta Tienda de Libros: Gándara 2994, CABA @malatesta_libros<br>
Mandolina Libros: Manuel Ugarte 2439, CABA @mandolinalibros<br>
Mandrágora Libros y Cultura: Vera 1096, CABA @mandragora.librosycultura<br>
María Lenteja Libros: librería virtual, CABA @marialentejalibros<br>
Medio Pan y Un Libro: Virrey Avilés 3700, CABA @libreriamediopanyunlibro<br>
Oficina de Libros: Av. de Mayo 1370 (Palacio Barolo), 5º piso of. 121, CABA @oficinadelibros<br>
Otras Orillas: Mansilla 2974, CABA @otrasorillas<br>
Rama Dorada Libros: Feria de Libros de Plaza Italia, Stand #28, CABA @ramadoradalibros<br>
Ritualitos Librería: Pieres 103, esq. Ramón L. Falcón, CABA @ritualitos.libros<br>
Salvaje Federal: librería virtual, CABA @salvajefederal<br>
Witolda Libros: Venezuela 615 timbre 1, CABA @witoldalibros<br>
            </p>
          </div>

    </div>
</section>