---
import { Alpine } from "alpinejs";

---


<div class="w-full mx-auto bg-blue-800 2xl:max-w-7xl">
  <div x-data="{ open: false }" class="relative flex flex-col w-full p-5 mx-auto bg-slate-900 md:items-center md:justify-between md:flex-row md:px-6 lg:px-6">
  <div class="flex flex-row items-center justify-between lg:justify-start">
          <img class="object-cover w-8 h-8" src="https://res.cloudinary.com/tammymetzler/image/upload/c_scale,w_100/v1677614976/logokkk_m7f4kx.ico" alt="">
          <a class="text-md  tracking-tight text-white  focus:outline-none focus:ring lg:translate-x-3 lg:text-md" href="/">
            <span class="lg:text-md font-medium font-mono-menlo focus:ring-0">
                barsabooks
          
          </span>
          </a>
          <button @click="open = !open" class="inline-flex items-center justify-center p-2 text-gray-400 hover:text-black focus:outline-none focus:text-black md:hidden">
            <svg class="w-6 h-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path :class="{'hidden': open, 'inline-flex': !open }" class="inline-flex" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
              <path :class="{'hidden': !open, 'inline-flex': open }" class="hidden" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
  </div>
        <nav :class="{'flex': open, 'hidden': !open}" class="flex-col flex-grow hidden py-10 md:flex lg:py-0 md:justify-end md:flex-row">
          <ul class="space-y-2 list-none md:space-y-0 md:items-center md:inline-flex">
            <li>
              <a href="https://barsabooks.vercel.app/" class="px-2 py-8 text-sm text-gray-500 lg:px-6 hover:border-blue-500 md:px-3 hover:text-blue-600">
                Libros
                
              </a>
            </li>
            <li>
              <a href="/editoriales" class="px-2 py-8 text-sm text-gray-500 border-b-2 border-transparent lg:px-6 md:px-3 hover:text-blue-600 hover:border-blue-500">
                Editoriales
              </a>
            </li>
            <li>
              <a href="/autorxs" class="px-2 py-8 text-sm text-gray-500 border-b-2 border-transparent lg:px-6 md:px-3 hover:text-blue-600 hover:border-blue-500">
                Autorxs
              </a>
            </li>
            <li>
              <a href="/formasdepago" class="px-2 py-8 text-sm text-gray-500 border-b-2 border-transparent lg:px-6 hover:border-blue-500 md:px-3 hover:text-blue-600">
                Formas de Pago
              </a>
            </li>
            <li>
              <a href="/contacto" class="px-2 py-8 text-sm text-gray-500 border-b-2 border-transparent lg:px-6 hover:border-blue-500 md:px-3 hover:text-blue-600">
                Contacto
              </a>
            </li>
          </ul>
        </nav>
  </div>
  </div>   

  <div class="w-full mx-auto bg-lime-400 2xl:max-w-7xl">
    <div x-data="{ open: false }" class="relative flex flex-col w-full p-5 mx-auto bg-lime-400 md:items-center md:justify-between md:flex-row md:px-6 lg:px-6">
    <div class="flex flex-row items-center justify-between lg:justify-start">
            <img class="object-cover w-8 h-8" src="https://res.cloudinary.com/tammymetzler/image/upload/v1681027275/HULE-FINAL-blancopng_f2032y.png" alt="iconhule">
            <a class="text-md  tracking-tight text-white  focus:outline-none focus:ring lg:translate-x-3 lg:text-md" href="/">
              <span class="lg:text-md font-medium font-mono-menlo focus:ring-0">
                  Hule 
            
            </span>
            </a>
            <button @click="open = !open" class="inline-flex items-center justify-center p-2 text-gray-400 hover:text-black focus:outline-none focus:text-black md:hidden">
              <svg class="w-6 h-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                <path :class="{'hidden': open, 'inline-flex': !open }" class="inline-flex" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                <path :class="{'hidden': !open, 'inline-flex': open }" class="hidden" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
    </div>
          <nav :class="{'flex': open, 'hidden': !open}" class="flex-col flex-grow hidden py-10 md:flex lg:py-0 md:justify-end md:flex-row">
            <ul class="space-y-2 list-none md:space-y-0 md:items-center md:inline-flex">
              <li>
                <a href="https://barsabooks.vercel.app/" class="px-2 py-8 text-sm text-gray-500 lg:px-6 hover:border-blue-500 md:px-3 hover:text-blue-600">
                  Libros
                  
                </a>
              </li>
              <li>
                <a href="/editoriales" class="px-2 py-8 text-sm text-gray-500 border-b-2 border-transparent lg:px-6 md:px-3 hover:text-blue-600 hover:border-blue-500">
                  Editoriales
                </a>
              </li>
              <li>
                <a href="/autorxs" class="px-2 py-8 text-sm text-gray-500 border-b-2 border-transparent lg:px-6 md:px-3 hover:text-blue-600 hover:border-blue-500">
                  Autorxs
                </a>
              </li>
              <li>
                <a href="/formasdepago" class="px-2 py-8 text-sm text-gray-500 border-b-2 border-transparent lg:px-6 hover:border-blue-500 md:px-3 hover:text-blue-600">
                  Formas de Pago
                </a>
              </li>
              <li>
                <a href="/contacto" class="px-2 py-8 text-sm text-gray-500 border-b-2 border-transparent lg:px-6 hover:border-blue-500 md:px-3 hover:text-blue-600">
                  Contacto
                </a>
              </li>
            </ul>
          </nav>
    </div>
    </div>   
  
  