<section>
    <div class=" flex flex-col items-center px-5 py-8 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="flex flex-col w-full max-w-3xl mx-auto prose text-left prose-blue">
            <div class="w-full mx-auto">
                <h1 class="font-worksans">Unión</h1>
                <h2 class="font-worksans">titular 2</h2>
                <p class="font-worksans">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem repellat reiciendis dolor sapiente, eum harum sint natus laudantium accusantium at, veritatis nihil consectetur minus tempora blanditiis. Debitis illum velit maiores.</p>
            </div>
        </div>
    </div>
</section>